.top {
    border: 1px solid white;
    vertical-align: top;
}
.navigation {
    display:inline-block;
    border: 1px solid white;
    margin: 5px;
    width: 50%;
}
.content {
    display:inline-block;
    border: 1px solid white;
    margin: 5px;
    width: 50%;
}