.top {
    border: 1px solid white;
    width: 100%;
    vertical-align: top;
}
.navigation {
    display:inline-block;
    border: 1px solid white;
    box-sizing: border-box;
    width: 30%;
}
.content {
    display:inline-block;
    border: 1px solid white;
    box-sizing: border-box;
    width: 70%;
}
section {
    white-space: nowrap;
}