h2 { 
    color: crimson;
    background-color: darkgrey;
    height: 20px;
    width: 100%;
}
.about {
    size: 70%;
}
.demon-slayer{
    vertical-align: middle;
}
table, tr, th, td {
    border: 1px solid black;
}
