h2 { 
    color: crimson;
    background-color: darkgrey;
    height: 20px;
    width: 100%;
}
.about {
    width: 74%;
}
img {
    position: absolute;
    right: 0;
    top: 80px;
}
table, tr, th, td {
    border: 1px solid black;
}
